body {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: small;
}

.run {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    /* gap: 8px; */
    /* flex-direction: column; */
    /* gap: 1rem; */
    /* max-width: 250px; */
    /* max-width: 100%; */
    margin: 2rem auto;

    border-top: 1rem solid white;
    border-bottom: 1rem solid white;
    /* margin-top: 0.6rem;
    margin-bottom: 0.6rem; */
    /* background-color: #ff804d; */
    /* width: 30px; */
    height: 1rem;
}

.job {
    padding: 1rem 0; 
    height: 1rem;
    background-color: white;
    cursor: grab;
    text-align: center;
    will-change: transform;
}

.job:active .leg:active {
    cursor: url('https://www.google.com/intl/en_ALL/mapfiles/closedhand.cur'), all-scroll;
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
    cursor: -o-grabbing;
    cursor: -ms-grabbing;
    cursor: grabbing;
    /* cursor: grabbing; */
}

@keyframes slide {
    from {transform: translateX(0px);}
    to {transform: translateX(50px);}
}

@keyframes slide_back {
    from {transform: translateX(50px);}
    to {transform: translateX(0px);}
}

/* slow but beautiful */
/* .push {
    
    animation: slide 0.1s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
} */

/* fast but not animated */
.push {
    transform: translateX(50px);
}

/* .pull {
    animation : slide 0.1s reverse;
    animation-iteration-count : 1;
    animation-fill-mode: forwards;
} */

/* @keyframes scale_leg2 {
    from {
        width: var(--from-width);
    }
  
    to {
      width: var(--to-width);
    }
  } */

@keyframes scale_leg {
    from {transform: scale(1, 1);}
    to {transform: scale(var(--scale-ratio), 1);}
}

@keyframes contract_leg {
    from {
        width: var(--to-width);
    }
  
    to {
      width: var(--from-width);
    }
  }


.stretch {
    transform: scale(var(--scale-ratio), 1);
    transform-origin: left;
}

/* .stretch {
    animation : scale_leg 0s;
    animation-iteration-count : 1;
    animation-fill-mode: forwards;
    transform-origin: left;
} */

/* .contract {
    animation : scale_leg 0.1s reverse;
    animation-delay: 0.1s;
    animation-iteration-count : 1;
    animation-fill-mode: forwards;
    transform-origin: left;
} */


.hide {
    background-color: #ccc;
}


.leg {
    border-top: 1rem solid white;
    border-bottom: 1rem solid white;
    height: 1rem;
    /* background-color: black; */
    will-change: transform;
}