body {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: small;
}

.run {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    /* gap: 8px; */
    /* flex-direction: column; */
    /* gap: 1rem; */
    /* max-width: 250px; */
    max-width: 100%;
    margin: 2rem auto;
}

.job {
    padding: 1rem;
    height: 1rem;
    background-color: white;
    cursor: grab;
}

.job:active {
    cursor: grabbing;
}

@keyframes slide {
    from {transform: translateX(0px);}
    to {transform: translateX(50px);}
}

.push {
    animation : slide 0.2s;
    animation-iteration-count : 1;
    animation-fill-mode: forwards;
}

.pull {
    animation : slide 0.2s reverse;
    animation-iteration-count : 1;
    animation-fill-mode: forwards;
}

.hide {
    /* visibility: hidden; */
    background-color: #eee;
    /* border: 4px solid #47afff */
}


.leg {
    /* padding: 0 1rem; */
    border-top: 1rem solid white;
    border-bottom: 1rem solid white;
    /* margin-top: 0.6rem;
    margin-bottom: 0.6rem; */
    /* background-color: #ff804d; */
    /* width: 30px; */
    height: 1rem;
}