body {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: small;
}

.run {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 2rem auto;

    border-top: 1rem solid white;
    border-bottom: 1rem solid white;
    height: 1rem;
}

.job {
    padding: 1rem 0; 
    height: 1rem;
    background-color: white;
    cursor: grab;
    text-align: center;
    will-change: transform;

}

.job:active .leg:active {
    cursor: url('https://www.google.com/intl/en_ALL/mapfiles/closedhand.cur'), all-scroll;
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
    cursor: -o-grabbing;
    cursor: -ms-grabbing;
    cursor: grabbing;
}

.hide {
    background-color: #ccc;
}

.leg {
    border-top: 1rem solid white;
    border-bottom: 1rem solid black;
    height: 1rem;
    /* background-color: black; */
    will-change: transform;
}

@keyframes scale_leg {
    from {transform: scale(1, 1);}
    to {transform: scale(var(--scale-ratio), 1);}
}

.stretch-keyframes {
    animation : scale_leg 0.2s;
    animation-iteration-count : 1;
    animation-fill-mode: forwards;
    transform-origin: left;
}

.stretch-transform-base {
    transform-origin: left;
    transform: width;
}

.stretch-transform {
    transform-origin: left;
    transform: width;
    width: var(--scale-width) !important;
}

.stretch-transition-base {
    transform-origin: left;
    transition: width 0.2s;
}

.stretch-transition {
    width: var(--scale-width) !important;
}

@keyframes slide {
    from {transform: translateX(0px);}
    to {transform: translateX(50px);}
}

.push-keyframes {
    animation: slide 0.2s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

}

.push-transform-base {
    transform: translateX(0px);
}

.push-transform {
    transform: translateX(50px);
}

.push-transition-base {
    left: 0px;
    /* transition: left ease 0.2s; */
    transition: transform;
    transform-origin: left;
}

.push-transition {
    left: 50px;
}
